# UI
gradio==4.44.0

# LlamaIndex (RAG)
llama-index==0.11.0
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

# Vector store
chromadb==0.5.5

# Embeddings & NLP utils
sentence-transformers>=2.7.0
unidecode
pypdf
python-docx

# Hugging Face hub + tăng tốc tải model
huggingface_hub[hf_transfer]

# Transformers + torch (CPU)
transformers>=4.44.0
torch
